{% extends 'lab/index.html.j2' %}

{% block html_head %}
	{{ super() }}

<link rel="icon" type="image/png" sizes="32x32" href="favicon.png">

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	crossorigin="anonymous"></script>

<script data-goatcounter="https://mauforonda.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>

<script>
$(document).ready(function() {          
    $('.code_shower').on('click',function(){
	var header = $(this);
	var codecell = $(this).next()
        codecell.slideToggle(0, function() {
		if (codecell.is(':hidden')) {
			header.text("{ · }");
			header.css("border-radius", "25px");
			header.css("width", "100%")
			header.css("text-align", "center")
			header.css("text-align", "center")
		} else {
			header.text("×");
			header.css("width", "auto")
			header.css("border-radius", "8px 0px 0px 8px")
		}
	});
    });
    $('.hidden_default').next().hide();
});
</script>

<style>

      @font-face { font-family: "et-book";
		   src: url("fonts/et-book/et-book-roman-line-figures.woff");
		   font-weight: normal;
		   font-style: normal; }

      @font-face { font-family: "et-book";
		   src: url("fonts/et-book/et-book-display-italic-old-style-figures.woff");
		   font-weight: normal;
		   font-style: italic; }

      @font-face { font-family: "et-book";
		   src: url("fonts/et-book/et-book-bold-line-figures.woff");
		   font-weight: bold;
		   font-style: normal; }

      @font-face { font-family: "Roboto";
		   src: url("fonts/roboto/Roboto-Bold.ttf");
		   font-weight: bold;
		   font-style: normal; }
      @font-face { font-family: "Roboto";
		   src: url("fonts/roboto/Roboto-Regular.ttf");
		   font-weight: normal;
		   font-style: normal; }

div.input {
	flex-direction: column !important;
}

div.input_area {
	border-radius: 0px 0px 8px 8px;
}

html {
    font-family: 'et-book' !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(251, 252, 255);
}

.jp-Notebook{
	background: transparent !important;
}

body {
    font-family: 'et-book' !important;
    max-width: 800px;
    width: 100%;
}

.jp-RenderedHTMLCommon p, .jp-RenderedHTMLCommon > :last-child {
	margin-bottom: 1em;
	margin-top: 1em;
}

.dataframe {
	   margin: 0 auto !important;
}

table.dataframe tbody tr th {
	font-style: normal;
}

td {
	font-size: 13px;
}

th {
	font-size: 14px;
	color: #91a0b7;
}

h1, h2, h3, h4, h5, h6, h7, h8 {
    font-family: 'Roboto', sans-serif !important;
}

p, li, .csl-entry {
    font-family: 'et-book' !important;
    line-height: 1.75em;
    font-size: 1.1rem;
}

pre {
    font-family: 'Roboto Mono', monospace !important;
}

.jp-RenderedText.jp-OutputArea-output pre {
	padding: 10px !important;
	background: #fff !important;
	margin: 10px !important;
	white-space: pre;
	border-radius: 10px;
	border: 1px solid #ced2dd;
	line-height: 25px;
	font-family: et-book !important;
	font-size: 15px;
}

.CodeMirror {
    overflow: auto !important;
}

.jp-RenderedText.jp-OutputArea-output pre {
	padding: 10px !important;
	background: #fff !important;
	margin: 10px !important;
	white-space: pre !important;
	border-radius: 10px;
	border: 1px solid #ced2dd;
}

code {
    font-size: inherit !important;
}

.jp-InputArea {
	overflow: hidden;
	align-content: center;
	justify-content: left;
	margin: 2px;
	background: linear-gradient(180deg, transparent 0%, transparent 48%, rgb(227, 234, 233) 50%, transparent 52%, transparent 100%);
}
}

table.dataframe thead tr {
    color: #6F7695;
}

tr td, tr, th{
    background-color: transparent !important;
    color: #6f747d;
}

h1, h2, h3, h4, h5, h6, h7, h8 {
    font-style: normal !important;
    text-decoration: none !important;
    font-weight: bold !important
}

h1{
    font-size: 2.5rem !important;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #000000;
}

h2{
    font-size: 2.2rem !important
}

h3{
    font-size: 1.9rem !important
}

h4, h5, h6, h7, h8{
    font-size: 1.6rem !important;
    padding: 20px 0px !important;
}

.jp-Cell-inputWrapper, .jp-Cell-outputWrapper {
	margin: 5px 0px;
}

.jp-RenderedImage.jp-OutputArea-output {
	margin: 30px 0px;
}

div.code_shower {
	background: lightgray;
	padding: 0px 4px !important;
	cursor: pointer;
	border-radius: 25px;
	width: 100%;
	text-align: center;
	font-size: 10px;
	background: #fff !important;
	border: 1px solid rgb(227, 234, 233);
	color: #c2c4ca !important;
	font-weight: normal;
	max-width: 22px;
	line-height: 29px;
}

.csl-bib-body {
	margin: 30px 0px;
}

.csl-entry {
	margin: 15px 0px;
}

.caption {
	border-top: 1px dotted #a5a8b0;
	margin: 0px 0px 0px 0px !important;
	padding-top: 20px;
	text-align: center !important;
	color: #7d7e84;
	font-size: .9em;
}

.jp-InputArea-editor {
	background: #fcfcfd !important;
	opacity: .9;
}

.highlight {
	   background: transparent !important;
}

.datalink, .notelink {
	border-radius: 5px;
	background: #f0f4f9;
	color: #596e8a !important;
	padding: 2px 6px;
}

.datalink:hover, .notelink:hover {
	background: #7ba9ea;
	color: white !important;
	text-decoration: none !important;
}

.abstract_title {
	text-align: center;
	font-size: 1.3em;
}

.abstract > p {
	border: 1px solid #e3eae9;
	border-radius: 5px;
	padding: 20px;
	background: #fafafb;
}

.indexcall {
	font-family: "Roboto";
	text-align: center;
	line-height: 1;
	margin: 10px 0px 0px 0px;
	padding: 5px;
}

.index_subtitle {
    font-size: .8rem;
    text-align: center;
    color: #cedbe6;
    padding: 5px;
}

.indexcall a {
    margin: 0;
    color: #cedbe6;
    width: 100%;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.indexcall a:hover{
	   color: #bcc6f4;
}

.jp-RenderedHTMLCommon img, .jp-RenderedImage img, .jp-RenderedHTMLCommon svg, .jp-RenderedSVG svg {
		       max-width: 99%;
		       border: 1px solid #e3eae9;
		       margin-left: auto;
		       margin-right: auto;
		       display: block;
}

img {
    		       cursor: zoom-in;
}

blockquote {
	border-left: 2px solid black !important;
}

blockquote p {
	font-size: 1.4rem;
}

.zoomed {
	position: absolute;
	left: 0;
	right: 0;
	box-shadow: 0px 0px 12px 0px rgb(230, 228, 238);
}

.footer {
    margin-top: 40px;
	  padding: 20px;
	  border-top: 1px solid #e3e6ea;
      }

      .contact {
      	  font-family: "Roboto";
	  text-align: center;
      }

      .contacto_tipo {
	  padding: 10px;
	  font-size: .7rem;
	  color: #a2b1bd;
	  opacity: .7;
      }

      .contacto_valor{
	  font-size: .7rem;
	  color: #a2b1bd;
      }

      .jp-OutputArea {
	  overflow: clip !important;
	  max-width: 100%;
      }
      .plotly-graph-div {
	margin-left: auto;
	margin-right: auto;
	display: block;
      }

</style>
{% endblock html_head %}

{% block input %}
{% if 'code_shown' in cell['metadata'].get('tags', []) %}
	<div class="code_shower">×</div>
{% else %}
    	<div class="code_shower hidden_default">{ · }</div>
{% endif %}

{{ super() }}
{% endblock input %}

{% block output_prompt %}
{% endblock output_prompt %}

{% block in_prompt %}
{% endblock in_prompt %}

{% block footer %}

<div class="footer">
     <div class="contact">
     	  <span class="contacto_tipo">contacto</span>
	  <span class="contacto_valor">mauriforonda@gmail.com</span>
	 </div>
</div>


<script>

indexcall = document.createElement('div')
indexcall.classList.add('indexcall')
index_title = document.createElement('div')
index_title.classList.add('index_title')
indexcall_a = document.createElement('a')
indexcall_a.textContent = 'Notas'
indexcall_a.href = 'https://mauforonda.github.io/notas/'
index_subtitle = document.createElement('div')
index_subtitle.classList.add('index_subtitle')
index_subtitle.textContent = 'de mauforonda'
index_title.appendChild(indexcall_a)
indexcall.appendChild(index_title)
indexcall.appendChild(index_subtitle)
document.body.prepend(indexcall)

const images = document.querySelectorAll('.jp-RenderedImage.jp-OutputArea-output img');
images.forEach((image) => image.onclick = () => {
		       image.classList.toggle('zoomed');
		       if (image.classList.contains("zoomed")){
		       	  image.parentElement.style.height = image.offsetHeight + "px";
		       } else {
		       	 image.parentElement.style.height = "auto";
		       	}
		       });

</script>

{% endblock footer %}
