name: Publish
on:
  push:
    branches: [ main ]
jobs:
  update:
    name: publish
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: python setup
        uses: actions/setup-python@v1
        with:
          python-version: '3.6'
      - name: python install
        run: |
          python -m pip install --upgrade pip
          pip install -r publish/requirements.txt
      - name: republish
        run: |
          mkdir -p docs
          for f in $(ls *.ipynb); do ./publish/publish.sh "$f"; done
          mv publish/index.{json,html} docs/
          mv publish/favicon.png docs/
      - name: push
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          FOLDER: docs
          BRANCH: gh-pages
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MESSAGE: "publish"
          SQUASH_HISTORY: true
